
:root {
	--canvas-size: 500px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

#content {
	margin-left: calc(50vw - (var(--canvas-size) + 150px)/2);
  margin-top: 15px;
	width: calc(var(--canvas-size) + 150px);
	display: flex;
	flex-direction: column;
	align-items: center;
}

#title {
	font-size: 15pt;
	text-align: center;
	padding-bottom: 20px;
	text-decoration: underline;
}

#subtitle {
	align-self: start;	
}

canvas {
	border: 1px solid black;
}

fieldset {
	margin: 5px;
	width: 75%;
	background-color: darkseagreen;
	border-radius: 5px;
	font-weight: bold;
    padding: 0px 9px;
}

fieldset > legend {
	background-color: darkseagreen;
	border-radius: 5px;
	padding: 4px 6px;
}

option {
	background-color: antiquewhite;
}

#controls {
	margin: 5px;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

#new_graph {
	align-self: flex-end;
}

#refresh {
	margin: 5px;
}

#debug {
	margin: 5px;
}