:root {
    --menu-width: 20%;
    --theme-color: #68889e; /* = blue; red/salmon = #ff6857 */
}
body {
    font-family: sans-serif;
    margin: 0; /* !!! */
}
#main {
    display: flex;
    height: 100%;
}
#menu {
    display: flex;
    flex-direction: column;
    width: var(--menu-width);
    font-size: medium;
    border-right: 1px solid var(--theme-color);
    overflow: scroll;
}
#main-panel {
    width: calc(100% - var(--menu-width));
}

.highlighted-demo {
    background: color-mix(in srgb, var(--theme-color) 20%, transparent); /* to make a lighter theme color */
}

a:visited, a {
    color: var(--theme-color);
}

iframe {
    height: 97.5%;
    width: calc(100% - 2 * 10px);
    border: 0;
    margin: 10px;
}

/* demo entry */
#menu > span {
    padding: 6px 5px 6px 10px;
    border-bottom: 1px solid var(--theme-color);
}

/* Small demo description */
.desc {
    font-size: 8.8pt;
    padding-left: 4px; /* to add indentation */
    font-style: italic;
}
.desc::before {
    content: '...';
    padding-right: 1px; /* between ... and the description */
}

/**
 * Chips : warning / info / buggy
 */
.chip {
    padding: 1px 4px;
    border-radius: 6px;
    font-size: xx-small;
    font-weight: bold;
    user-select: none;
    position: relative;
    bottom: 3px;
    opacity: 0.6;
}

.warning {
    background-color: yellow;
}

.info {
    color: white;
    background-color: blue;
}

.buggy {
    color: white;
    background-color: orange;
}