:root {
    --menu-width: 20%;
    --theme-color: #467799; /* = blue; red/salmon = #ff6857 */
    --menu-bg-color: #d9e7f1;
}
body {
    font-family: sans-serif;
    margin: 0; /* init */
}

#main {
    display: flex;
    height: 96%; /* because of the header ? */
}

#menu {
    width: var(--menu-width);
    font-size: medium;
    border-right: 1px solid var(--theme-color);
    background-color: var(--menu-bg-color);
}

#main-panel {
    width: calc(100% - var(--menu-width));
}

.highlighted-demo {
    background: color-mix(in srgb, var(--theme-color) 60%, transparent);
    box-shadow: 0px 0px 10px 4px var(--theme-color); /* blur = 10, spread = 4 */
}

.highlighted-demo:not(.disabled-entry) > a:visited,
.highlighted-demo:not(.disabled-entry) > a {
    color: white;
}

.highlighted-demo:not(.disabled-entry) > .desc {
    color: white;
}

a:visited, a, #totalPages {
    color: var(--theme-color);
}

#header {
    padding: 7px;
    font-style: italic;
    border-bottom: 1px solid var(--theme-color);
    background-color: var(--menu-bg-color);
}

iframe {
    height: 97.5%;
    width: calc(100% - 2 * 10px);
    border: 0;
    margin: 10px;
}

#searchDiv {
    margin: 5px;
}

#search {
    border-radius: 5px;
    padding: 5px;
    width: 93%;
    outline: 0;
    border: 0;
    background: color-mix(in srgb, var(--theme-color) 20%, transparent);
}

#search:focus {
    outline: 1px solid var(--theme-color);
}

#toggle-menu {
    user-select: none;
    cursor: pointer;
    font-weight: bold;
}

#menu-entries {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 96%;
}

/* demo entry */
#menu-entries > span {
    padding: 6px 5px 6px 10px;
    border-bottom: 1px solid var(--theme-color);
}

/* Small demo description */
.desc {
    font-size: 8.8pt;
    padding-left: 4px; /* to add indentation */
    font-style: italic;
}
.desc::before {
    content: '‣ '; /* ‣ ◦ ⁍ */
    padding-right: 1px; /* between ... and the description */
}

/**
 * Chips : warning / info / buggy / todo
 */
.chip {
    position: relative;
    bottom: 3px;
    padding: 2px 4px;
    user-select: none;
    /* text */
    font-size: xx-small;
    font-weight: bold;
    text-wrap: nowrap;
    /* style */
    font-style: italic;
    border-radius: 6px;
    opacity: 0.7;
}

.warning {
    background-color: yellow;
}

.info {
    color: white;
    background-color: blue;
}

.buggy {
    color: white;
    background-color: orange;
}

/*
.todo {
    color: white;
    background-color: red;
}
*/

.draft {
    color: white;
    background-color: gray;
}

.early-draft {
    color: white;
    background-color: red;
}

.disabled-entry {
    opacity: 0.5;
    background: repeating-linear-gradient(
        -45deg,
        white,
        white 10px,
        lightgray 10px,
        lightgray 20px
    );
}