
:root {
	--canvas-size: 500px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

#content {
	margin-left: calc(50vw - (var(--canvas-size) + 150px)/2);
  margin-top: 15px;
	width: calc(var(--canvas-size) + 150px);
	display: flex;
	flex-direction: column;
	align-items: center;
}

#title {
	font-size: 15pt;
	text-align: center;
	padding-bottom: 20px;
	text-decoration: underline;
}

#subtitle {
	align-self: start;	
}

canvas {
	border: 1px solid black;
}

button {
	width: 250px;
}

#debug {
    margin: 10px;
    border: 1px solid blue;
    border-radius: 5px;
    width: 50%;
    text-align: center;
}