#content {
    margin: auto;
    width: 500px;
}

#restart {
    width: 100%;
    height: 50px;
}

#message {
    width: 100%;
    text-align: center;
}

.error {
    color: red;
}

#desc {
    font-style: italic;
    color: gray;
    font-size: small;
}

#debug {
    padding: 5px;
    font-size: x-small;
    background-color: antiquewhite;
    height: 50px;
}