#content {
    margin: auto;
    width: 500px;
}

#restart {
    width: 100%;
    height: 30px;
}

.stalled {
    background-color: lightcoral;
}

#message {
    width: 100%;
    text-align: center;
}

.error {
    color: red;
}

#desc {
    font-style: italic;
    color: gray;
    font-size: small;
}

.info {
    font-size: small;
    font-style: italic;
    color: blue;
}

.tag {
    background-color: gray;
    color: gold;
    padding: 2px 4px 1px 4px;
    font-size: 9pt;
    border-radius: 5px;
    font-family: monospace;
}

#debug {
    padding: 5px;
    font-size: x-small;
    background-color: antiquewhite;
    height: 100%;
    text-wrap: balance;
    overflow: scroll;
    float: right;
    width: 375px;
    overflow-wrap: break-word;
}

#nb_dags,
#mean_fitness,
#min_fitness,
#max_fitness {
    font-weight: bold;
}