
:root {
	--canvas-size: 800px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

#content {
	margin-left: calc(50vw - (var(--canvas-size) + 150px)/2);
  margin-top: 15px;
	width: calc(var(--canvas-size) + 150px);
	display: flex;
	flex-direction: column;
	align-items: center;
}

#title {
	font-size: 15pt;
	text-align: center;
	padding-bottom: 20px;
	text-decoration: underline;
}

#subtitle {
	align-self: start;	
}

#error, #function {
	border: 1px solid black;
}

#from, #to {
	width: 80px;
}

#n {
	width: 50px;
}

#debug {
	border: 1px solid black;
	border-radius: 5px;
	background-color: antiquewhite;
	padding: 5px;
	margin: 5px;
}

#debug table thead {
	text-decoration: underline;
	font-size: 12pt;
	font-weight: bold;
	text-align: center;
}

#debug td {
	font-size: 9pt;
}

#debug td:nth-of-type(2) {
	text-align: center;
}

.info {
	cursor: pointer;
}

#controls {
	display: flex;
}

#params {
	padding: 10px 15px 0;
}

#refresh {
	background-color: mediumturquoise;
}

#true-value {
	font-weight: bold;
}

canvas {
	margin: 5px;
}