:root {
	--canvas-size: 250px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

#content {
	margin-left: calc(50vw - (var(--canvas-size) + 150px)/2);
  margin-top: 15px;
	width: calc(var(--canvas-size) + 150px);
	display: flex;
	flex-direction: column;
	align-items: center;
}

#title {
	font-size: 15pt;
	text-align: center;
	padding-bottom: 20px;
	text-decoration: underline;
}

#subtitle {
	align-self: start;	
}

#canvas_2d {
	border: 1px solid black;
	width: 100%;
}

#canvas_3d {
	border: 1px solid black;
	display: none;
}

#debug {
	display: none;
}

#controls {
	display: flex;
	flex-direction: column;
	text-align: center;
}

#setting {
	margin: 5px;
}

#sliders {
	display: flex;
}

#reset {
	margin: 5px;
}