
:root {
	--canvas-size: 500px;
}

/* zeroes out default margins */
html, body, * { 
	margin: 0; 
	padding: 0; 
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

#content {
	margin-left: calc(50vw - (var(--canvas-size) + 150px)/2);
  margin-top: 15px;
	width: calc(var(--canvas-size) + 150px);
	display: flex;
	flex-direction: column;
	align-items: center;
}

#title {
	font-size: 15pt;
	text-align: center;
	padding-bottom: 20px;
	text-decoration: underline;
}

#subtitle {
	align-self: start;	
}

canvas {
	width: 100%;
	height: 100%;
	position: fixed;
}






/**
 *
 */
#book_list {
	width: 500px;
	font-size: smaller;
}

.book {
	background-color: #d1f3ff;
	border: 1px solid blueviolet;
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
	position: relative; /* for the child to be able to use "position: absolute" */
}

.title {
	text-decoration: underline;
	text-overflow: ellipsis;
	height: 32px;
	width: 93%;
}

.level {
	display: flex;
	flex-direction: column;
    height: 250px;
    overflow: scroll;
}

.content {
	/*width: 100%;*/
	margin-top: 3px;
}

.content > .start_page {
	float: right;
}

.content_title_0 {
	font-weight: bold;
}

.content_title_1 {
	font-style: italic;
}

.start_page {
	right: 0;
	position: relative;
}

.leaf {
	padding-left: 8px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	cursor: pointer;
}

.leaf > .start_page {
}

.front-cover {
	margin-right: 5px;
}

.checked {
	color: gray;
	text-decoration: line-through;
}

.book > div:nth-child(1) {
	display: flex;
}

/**
 * Book's progress bar
 */
.progress-bar {
	width: 100%;
	background-color: #e0e0e0;
	border-radius: 5px;
	overflow: hidden;
	margin: 3px 0 0 0;
}

.progress {
	width: 0;
	height: 33px;
	background-color: #467799;
	transition: width 0.3s;
}

.progress-value {
    text-align: center;
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 49px;
    font-size: 10pt;
}



.toggle {
	position: absolute;
	right: 5px;
	top: 5px;
	cursor: pointer;
}

.toggled {
	background-color: lightgray;
	height: 0;
	overflow: hidden;
}

.tags {
    position: absolute;
    right: 25px;
}

.tag {
	border-radius: 3px;
    padding: 2px;
    font-size: x-small;
}