
:root {
	--canvas-size: 500px;
}

/* zeroes out default margins */
html, body, * { 
	margin: 0; 
	padding: 0; 
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

#content {
	margin-left: calc(50vw - (var(--canvas-size) + 150px)/2);
  	margin-top: 15px;
	width: calc(var(--canvas-size) + 150px);
	display: flex;
	flex-direction: column;
	align-items: center;
}

#title {
	font-size: 15pt;
	text-align: center;
	padding-bottom: 20px;
	text-decoration: underline;
}

#subtitle {
	align-self: start;
	font-style: italic;
}

canvas {
	width: 100%;
	height: 100%;
	position: fixed;
}


#connect, #disconnect, #sync {
	display: none;
	cursor: pointer;
}

#sync {
	color: orange;
}

#disconnect {
	float: right;
	color: red;
}

#connect {
	color: blue;
}



/**
 *
 */
#book_list {
	width: 575px;
	font-size: smaller;
}

.gcs {
	background-color: navajowhite !important;
}

.book {
	background-color: #d1f3ff;
	border: 1px solid blueviolet;
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
	position: relative; /* for the child to be able to use "position: absolute" */
}

.book input[type='checkbox'] {
	pointer-events: none;
}

.top-right {
	width: 10%;
    height: 16px;
    position: absolute;
    right: 0;
    top: 0;
}

.title {
	text-decoration: underline;
	text-overflow: ellipsis;
	height: 32px;
	width: 93%;
}

.authors {
	font-style: italic;
	text-decoration: none;
	font-size: smaller;
}

.title_authors {
	height: 32px;
	width: 90%;
}

.outside_link {
	font-size: 8pt;
}

.level {
	display: flex;
	flex-direction: column;
    max-height: 250px;
    overflow: scroll;
	padding-right: 5px;
}

.content {
	/*width: 100%;*/
	margin-top: 1px;
}

.content > .start_page {
	float: right;
}

.content_title_0 {
	font-weight: bold;
}

.content_title_1 {
	font-style: italic;
}

.start_page {
	right: 0;
	position: relative;
	font-weight: bold;
	font-style: italic;
}

#score {
    text-align: center;
    display: block;
}

.leaf {
	padding-left: 8px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	cursor: pointer;
}

.leaf > .start_page {
	font-weight: normal;
}

.front-cover {
	margin-right: 5px;
}

.checked {
	color: gray;
	text-decoration: line-through;
}

.info {
	color: #3a4f2f;
	margin-left: 5px;
}

.book > div:nth-child(1) {
	display: flex;
}

/**
 * Book's progress bar
 */
.progress-bar {
	width: 100%;
	background-color: #e0e0e0;
	border-radius: 5px;
	overflow: hidden;
	margin: 3px 0 0 0;
}

.progress {
	width: 0;
	height: 20px;
	background-color: #467799;
	transition: width 0.3s;
}

.progress-value {
    text-align: center;
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 44px;
    font-size: 8pt;
	margin-left: -33px; /* TODO: fix this */
}



.toggle {
	position: absolute;
	right: 5px;
	top: 5px;
	cursor: pointer;
}

.toggled {
	background-color: lightgray;
	height: 0;
	overflow: hidden;
}

.tags {
    position: absolute;
    right: 5px;
    top: 23px;
}

.tag {
	border-radius: 3px;
    padding: 2px;
    font-size: x-small;
	user-select: none;
}

/**
 * Search
 */
#elements {
	z-index: 1;
}