
:root {
	--canvas-size: 800px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

#content {
	margin-left: calc(50vw - (var(--canvas-size) + 150px)/2);
  	margin-top: 15px;
	width: calc(var(--canvas-size) + 150px);
	display: flex;
	flex-direction: column;
	align-items: center;
}

#title {
	font-size: 15pt;
	text-align: center;
	padding-bottom: 20px;
	text-decoration: underline;
}

#subtitle {
	align-self: start;	
}

#map {
	width: 100%;
	height: 500px;
}

#number_of_markers {
	color: blue;
	font-style: italic;
	font-size: smaller;
	text-align: center;
}

.leaflet-div-icon {
	border: 0 !important;
	background-color: transparent !important;
}

#debug {
	margin: 5px;
}